DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=udcs

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_FROM_NAME=UNIFIED DIGITAL CLAIMS SYSTEM
